.fourOhFour {
  position: relative;
  width: 100vw;
  height: 100vh;

  .notFound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1 {
      font-size: 25rem;
      text-decoration: underline;
    }

    h3 {
      text-decoration: underline;
      text-decoration-style: wavy;
      text-underline-position: under;
    }
  }
}

// Media queries
@media screen and (max-width: 500px) {
  .fourOhFour {
    .notFound {
      h1 {
        font-size: 20rem;
      }

      h3 {
        text-decoration: none;
      }
    }
  }
}
